/* You can add global styles to this file, and also import other style files */
@import 'material-design-icons/iconfont/material-icons.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fdfdfd;
  --black: #000;
  --gray-100: #fbfbfb;
  --gray-200: #f8f8f8;
  --gray-300: #f2f2f2;
  --gray-400: #e8e8e8;
  --gray-800: #333;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  background-color: var(--gray-300);
}

.icon-button {
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 1rem;
  margin: 0 1rem;
  border-radius: 1rem;
  transition: background-color 200ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    cursor: pointer;
    background-color: var(--gray-400);
  }

  &__label {
    margin-left: .4rem;
  }
}

.form-control {
  font: inherit;
  border: 1px solid black;
  border-radius: .4rem;
  text-overflow: ellipsis;
  width: 100%;
  padding: .8rem .6rem;

  &:disabled {
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
  }
}

.form-custom-checkbox {
  display: inline-block;
  position: relative;
  appearance: none;
  z-index: 1;
  width: 2rem;
  height: 2rem;
  border: .1rem solid var(--gray-800);
  background-size: contain;

  &:checked {
    background: url('~material-design-icons/action/2x_web/ic_done_black_24dp.png') center/contain no-repeat;

    &:disabled {
      filter: invert(.5);
    }
  }

  &:disabled {
    filter: grayscale(.1);
  }

  &:hover {
    cursor: pointer;
  }
}

.form-control:focus,
.form-custom-checkbox:focus {
  box-shadow: 0 0 0 .2rem rgba(dodgerblue, .4);
  border-color: dodgerblue;
  outline: none;
}

.title {
  text-align: center;
}
